body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 95%);
}

h1{
    color: hsl(196, 65%, 45%);
}


form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 5px 5px 10px hsla(67, 65%, 72%, 0.608);

}

#userInput {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0,0%,0%,0.8);
    border-radius: 13px;
    margin-bottom: 18px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
    
}

button{
    margin-top: 15px;
    background-color: hsl(16, 45%, 70%);
    font-weight: bold;
    font-size: 1em;
    padding: 15px 30px;
    border-radius: 14px;
    border: none;
    color: hsl(0, 100%, 97%);
    cursor: pointer;
}

button:hover{
    background-color: hsl(16, 45%, 50%);
}

button:active{
    background-color: hsl(16, 45%, 30%);
}

#result{
    font-size: 1.5em;
    font-weight: bold;
}